<nav class="navbar navbar-expand-lg bg-body-tertiary header">
    <div class="container-fluid header">
      <a class="navbar-brand" >WebPlat</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="user">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="product">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link logout-link" (click)="logout()">Logout</a>
          </li>
        </ul>
          
      </div>
    </div>
  </nav>