.container{
    background-color: rgb(216, 214, 211);
    display: grid;
    justify-content: center;
    
}

.card-img-top{
    padding: 10px;
    height: 300px;
    width: 300px;
  
}

.img-container{
    width: 300px;
    height: 200px;
    
    position: relative;
}

.card-img-top{
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
}
.card-body{
    display: grid;
    justify-content: center;
    text-align: center;
}
