
<div class="container">
    <div class="profile-card">
    <br>
        <div class="img-container">
            <img class="card-img-top" src="assets/tester.jpeg">
        </div>
        
    <br>
    <div class="card-body">
        <h5 class="card-title">{{profileData.firstName + " " + profileData.lastName}}</h5>
        <p class="card-text">{{profileData.username}}</p>
        <p class="card-text">Gender: {{profileData.gender}}</p>
        <a class="card-text ">{{profileData.email}}</a>
      </div>
      <br>
    </div>
    
</div>